@import "../../../sass/style.scss";

.interface {
    border-left: 3px solid rgba(24, 4, 4, 0.411);
    width: 30%;
    height: 100%;
    @include flex();
    flex-direction: column;
}


@keyframes show {
    100% {
        opacity: 1;
    }
}

@keyframes hidde {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}