<div class="statistics">
    <h2 class="statistics__title">Statistic</h2>
    <ul class="statistics-list">
      <li class="statistics-item">
        <h3 class="statistics-item__title" >Score:</h3>
        <span class="statistics-item__value" data-name="score">0</span>
      </li>
      <li class="statistics-item">
        <h3 class="statistics-item__title" >Solution drops:</h3>
        <span class="statistics-item__value" data-name="solutions">0</span>
      </li>
      <li class="statistics-item">
        <h3 class="statistics-item__title" >Mistake:</h3>
        <span class="statistics-item__value" data-name="mistakes">0</span>
      </li>
      <li class="statistics-item">
        <h3 class="statistics-item__title">Missed Drop:</h3>
        <span class="statistics-item__value" data-name="missed">0</span>
      </li>
    </ul>
    <div class="statistics-buttons">
      <button class="statistics-buttons__button" data-name="restart">Restart</button>
      <button class="statistics-buttons__button" data-name="return">Return Menu</button>
    </div>
  </div>