$color-light: #fff;
$color-dark: #000;
$color-title-shadow:#07faea9f;
$color-button-tutorial:#6eff1b;
$color-button-start: #ffaf01;
$color-button-hover: #2f2c2c;
$color-parametrs-textshadow: #7e4fb89f;
$color-value-text: #8a8a8a;
$color-title-end: #8c0a0a;
$color-statistic-background:  #548987;
$color-statistic-border: #8b4513;
$color-button-restart: #008000;
$color-button-return: #ff0000;
$color-water: #17e2e5;
$color-drop-bonus: #ffd700;
$color-drop-plat:  #dfdcd9;
$color-keyboard-border: #cab16d;
$color-screen-border: #a7a4a4;
$color-keyboard-button: #808080;
$color-keyboard-btnBorder:  #a7a4a4;
$color-interface-left: #18040469;