@import "../../sass/style.scss";
.opening {
    width: 100%;
    height: 100vh;
    @include flex();
    flex-direction: column; 
    &__title {
        font-size: 140px;
        color: transparent;
        text-transform: uppercase;  
        background-color: rgb(0, 0, 0);
        text-shadow: 0 2px 5px rgba(7, 250, 234, 0.625);
        -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
            user-select: none;
        
      }
    &__img {
        width: 300px;
    }
    &--hidden {
        animation: hidde .5s forwards;
    }
    &-buttons {
        @include flex(center,space-around);
        margin-bottom: 50px;
        &__button {
            padding: 20px 40px;
            font-size: 24px;
            color:$color-light;
            border-radius: 5px;
            transition: .5s;
            cursor: pointer;
            &:nth-child(1) {
                background-color: #6eff1b;
            }
            &:nth-child(2) {
                margin-left: 20px;
                background-color: rgb(255, 175, 1);
            }
            &:hover {
                background-color: rgb(47, 44, 44);
                box-shadow: 0px 3px 5px 5px $color-dark;
            }
        }
    }
}


@keyframes hidde {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



@media (max-width: 1280px) {
    .opening__title {
        font-size: 45px;
    }
    .opening__drop {
        width: 250px;
    }
    .opening-buttons__button {
        padding: 20px;
    }
    .opening__img {
        width: 250px;
    }
}