<div class="parametrs">
    <h2 class="parametrs__title">parametrs</h2>
    <div class="parametrs-content">
      <div class="parametrs-value">
        <h2 class="parametrs-value__title">Выберите диапозон чисел</h2>
        <div class="value-content">
          <label class="value-block">
            <span class="value-block__text">Min</span>
            <input
              type="text"
              class="value-block__input"
             
              
              data-name="min-value"
            />
          </label>
          <label class="value-block">
            <span class="value-block__text">Max</span>
            <input
              type="text"
          
              class="value-block__input"
              
              data-name="max-value"
            />
          </label>
        </div>
      </div>
      <div class="parametrs-operation">
        <h2 class="parametrs-operation__title">Выберите операции</h2>
        <div class="operation-content">
          <label>
            <span class="operation-content__text">/</span>
            <input type="checkbox" class="operation-content__input" data-name="/" />
          </label>
          <label>
            <span class="operation-content__text">x</span>
            <input type="checkbox" class="operation-content__input" data-name="*" /> </label
          ><label>
            <span class="operation-content__text">-</span>
            <input type="checkbox" class="operation-content__input" data-name="-" />
          </label>
          <label>
            <span class="operation-content__text">+</span>
            <input type="checkbox" class="operation-content__input" checked data-name="+" />
          </label>
        </div>
      </div>
    </div>
    <button class="parametrs__button">continue</button>
  </div>
