<svg class="fullscreen" width="50" height="50" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 10H0V16H6V14H2V10ZM0 6H2V2H6V0H0V6ZM14 14H10V16H16V10H14V14ZM10 0V2H14V6H16V0H10Z" fill="#FFFFFF"/>
    </svg>
<div class="game">
    <audio src="../assets/sounds/button.mp3" data-name="button-sound"></audio>
    <audio src="../assets/sounds/check.mp3" data-name="check-sound"></audio>
    <audio src="../assets/sounds/click.mp3" data-name="click-sound"></audio>
    <audio src="../assets/sounds/pop.mp3" data-name="pop-sound"></audio>
    <audio src="../assets/sounds/drop.mp3" data-name="drop-sound"></audio>
    <audio src="../assets/sounds/life.mp3" data-name="life-sound"></audio>
    <audio src="../assets/sounds/error.mp3" data-name="error-sound"></audio>
    <audio src="../assets/sounds/water.mp3" data-name="water-sound" loop ></audio>
    <audio src="../assets/sounds/bonusDrops.mp3" data-name="bonus-sound"></audio>
    <audio src="../assets/sounds/game-over.mp3" data-name="gameover-sound"></audio>
</div>